[user]
  email = sititou70@gmail.com
  name = Takuya Shizukuishi
[core]
  editor = vim -c \"set fenc=utf-8\"
  pager = less -cm
  quotepath = false
[push]
  default = simple
[commit]
  template = ~/dotfiles/commit_template

